@charset "utf-8";

@font-face {
    font-family: 'Built Titling';
    src: url('../fonts/built\ titling\ sb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Built Titling It';
    src: url('../fonts/built\ titling\ sb\ it.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Voltec';
    src: url('../fonts/Voltec\ Free\ Version.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Capture It';
    src: url('../fonts/Capture\ it.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gravity';
    src: url('../fonts/Gravity-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --font1: 'Built Titling It';
    --font2: 'Built Titling';
    --font3: 'Voltec';
    --font4: 'Capture It';
    --font5: 'Gravity';
}

*{
    margin: 0 0 0 0;
}

@media screen and (min-width: 500px){
    header > h1{
        font-size: 200%;
        margin-left: 20px;
    }

    h3{
        font-size: 1.5em;
        padding: 2% 3%;    
    }

    p{
        font-size: 1em;
        padding: 0 3%;
    }

    ul{
        font-size: 1em;
    }

    nav > a{
        font-size: 1em;
        padding: 0 5%;
    }

}

@media screen and (max-width: 533px){
    header > h1{
        font-size: 100%;
        text-align: center;
    }

    h3{
        font-size: 1em;
        padding: 2% 5%;    
    }

    p{
        font-size: 0.8em;
        margin: 0 5%;
    }

    ul{
        font-size: 0.8em;
    }

    nav{
        padding: 3.5%;
    }

    nav > a{
        font-size: 0.8em;
        border-radius: 3px;
        margin: 0 4%;
    }

}    

header{
    font-family: var(--font2);
    background-color: rgba(42, 44, 49, 0.795);

    font-size: 300%;
    color: rgb(204, 201, 189);
    max-width: 300%;
    min-width: 50%;
}

header > h1 {
    text-shadow: 0 0 12px rgba(255, 255, 255, 0.226);
}


nav{
    background-color: rgba(42, 44, 49, 0.89);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.541);
    color: rgb(179, 174, 157);
}

nav > a{
    font-family: var(--font5);
    color: white;
    text-decoration: none;
}

nav > a:hover{
    background-color: rgba(255, 255, 255, 0.315);
}

p{
    text-shadow: 0 2px 5px black;
}

h3{
    text-shadow: 0 2px 5px black;
}

ul{
    text-shadow: 0 2px 5px black;
}

body{
    background-image: url('../image/pexels-barnabas-davoti-8976091.jpg');
    
    background-size: 100%;
    background-attachment: fixed;
    font-family: var(--font5);
}

div.ar{
    margin: auto;
    background-color: rgba(42, 44, 49, 0.521);
    max-width: 80%;
    min-width: 30%;
    color: white;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 8px 25px rgba(255, 255, 255, 0.212);
}

div.separator{
    background-color: rgba(0, 0, 0, 0.774); 
    max-width: 100%;
    min-width: 30%;
    min-height: 20px;
    margin: 2% 0;
}


footer{
    background-color: rgba(0, 0, 0, 0.774); 
    margin-top: 10%;
    text-align: center;
    color: white;
}