body{
    background-color: rgb(60, 133, 202);
    font: normal 1em Arial;
}

header{
    color: white;
    text-align: center;


}

section{
    background: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.356);
    padding: 15px;
    width: 500px;
    margin: auto;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;


}